<a href="https://colab.research.google.com/github/ProjectInvent1A/AIStudioProject/blob/main/AIStudioProjectNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Questions for Query:
What is your topic of interest to complete a project? Explain in one word.
Where are you located? Please provide your city and state.

**Loading in CBDO Population Dataset.csv** (from Urban Data Catalog)

In [2]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/ProjectInvent1A/AIStudioProject/refs/heads/main/CBDO%20Population%20Dataset.csv?token=GHSAT0AAAAAACXRU57XQGDZGXMIRRAL4ISOZXMZJ7Q'
df_urban = pd.read_csv(url)

In [ ]:
df_urban.head()

,org_ein,state,state_name,name,address,city,fips,ruledate,nteecc,region,division
0,10274725,ME,Maine,THE OPPORTUNITY ALLIANCE,50 LYDIA LN,SO PORTLAND,23005.0,1965.0,P20,Northeast,New England
1,10275156,ME,Maine,WESTERN MAINE COMMUNITY ACTION INC,PO BOX 200,EAST WILTON,NaN,1966.0,P20,Northeast,New England
2,10277678,ME,Maine,KENNEBEC VALLEY COMMUNITY ACTION PROGRAM,97 W ST,WATERVILLE,23011.0,1965.0,P20,Northeast,New England
3,10281875,ME,Maine,EASTERN MAINE DEVELOPMENT CORPORATION,40 HARLOW STREET,BANGOR,23019.0,1994.0,S30,Northeast,New England
4,10287624,ME,Maine,H O M E INC,PO BOX 10,ORLAND,23009.0,1971.0,P29,Northeast,New England

In [5]:
df_urban.shape

(6897, 11)

In [6]:
df_urban['name']

0                                THE OPPORTUNITY ALLIANCE
1                      WESTERN MAINE COMMUNITY ACTION INC
2                KENNEBEC VALLEY COMMUNITY ACTION PROGRAM
3                   EASTERN MAINE DEVELOPMENT CORPORATION
4                                             H O M E INC
                              ...
6892                         ANAHOLA HOMESTEADERS COUNCIL
6893    HAWAII INTERGENERATIONAL COMMUNITY DEVELOPMENT...
6894                    FAITH ACTION FOR COMMUNITY EQUITY
6895                        HAWAIIAN COMMUNITY ASSETS INC
6896                        MAUI ECONOMIC OPPORTUNITY INC
Name: name, Length: 6897, dtype: object

In [7]:
df_urban['state_name'].unique()

array(['Maine', 'New Hampshire', 'Florida', 'Virginia', 'Michigan',
       'Rhode Island', 'Pennsylvania', 'New Jersey', 'Minnesota',
       'California', 'South Carolina', 'Massachusetts', 'New York',
       'Georgia', 'Missouri', 'Vermont', 'Indiana', 'Maryland', 'Iowa',
       'Mississippi', 'District of Columbia', 'Texas', 'Nebraska', 'Ohio',
       'Oregon', 'Louisiana', 'Illinois', 'Tennessee', 'Arizona',
       'North Carolina', 'Kansas', 'Connecticut', 'Colorado', 'Alabama',
       'Arkansas', 'Utah', 'Montana', 'Kentucky', 'New Mexico',
       'Wisconsin', 'Nevada', 'Delaware', 'Hawaii', 'Washington',
       'South Dakota', 'Alaska', 'North Dakota', 'West Virginia', 'Idaho',
       'Oklahoma', nan, 'Wyoming'], dtype=object)