In [2]:
# Importing libraries
import os
import pandas as pd
import numpy as np

# Saving the CSV file paths into variables

pub78_path = "data-download-pub78.csv"
CBDO_path = "CBDO Population Dataset.csv"

# Making dataframes of the CSV files' data
pub78_dataframe = pd.read_csv(pub78_path, sep = ",")
CBDO_dataframe = pd.read_csv(CBDO_path, sep = ",")

# Finding the column names of each dataframe
pub78_columns = [column for column in pub78_dataframe.columns]
CBDO_columns = [column for column in CBDO_dataframe.columns]
print(pub78_columns)
print(CBDO_columns)

# Concatenating the two dataframes
dataframe = pd.concat([pub78_dataframe, CBDO_dataframe])

# Dropping the unnecessary columns
dataframe_columns = []
for pub78_column in pub78_columns:
  if pub78_column in CBDO_columns:
    dataframe_columns.append(pub78_column)

columns_kept = dataframe.drop(columns = dataframe_columns)
dataframe = dataframe.drop(columns = columns_kept.columns)
dataframe.head()

['org_ein', 'name', 'city', 'state', 'country', 'category']
['org_ein', 'state', 'state_name', 'name', 'address', 'city', 'fips', 'ruledate', 'nteecc', 'region', 'division']

   org_ein                                               name       city state
0   587764                              Iglesia Bethesda Inc.     Lowell    MA
1   635913  Ministerio Apostolico Jesucristo Es El Senor Inc.   Lawrence    MA
2   765634                         Mercy Chapel International   Mattapan    MA
3   841363                              Agape House of Prayer   Mattapan    MA
4   852649                        Bethany Presbyterian Church  Brookline    MA