<a href="https://colab.research.google.com/github/ProjectInvent1A/AIStudioProject/blob/main/Development%20Process/location_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
import numpy as np
import requests
import json
import torch

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
path = "/content/drive/My Drive/BTT Project Invent Team 1A/Zoe's API work/df_api_final.csv"
df = pd.read_csv(path)
print(df.shape)

<ipython-input-3-cf49f1fdc9ca>:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

(963062, 10)

In [ ]:
!pip install geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from geopy import distance
from geopy.distance import geodesic

#initializes the geolocator
geolocator = Nominatim(user_agent="cities matching")

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [ ]:
from geopy.exc import GeocoderTimedOut, GeocoderServiceError

In [ ]:
# save list of unique cities in a new dataframe
print(df["city"].nunique())
df_cities = pd.DataFrame()
cities_list = df["city"].tolist()
df_cities["city"] = [s.upper() for s in cities_list]
states_list = df["state"].tolist()
df_cities["state"] = [s.upper() for s in states_list]

df_cities.head()

23001

            city state
0        HEWLETT    NY
1       ELMSFORD    NY
2  FT LAUDERDALE    FL
3       STAMFORD    CT
4          TAMPA    FL

In [ ]:
df_cities["city"].nunique()

20968

In [ ]:
df_cities = df_cities.drop_duplicates(subset='city')
df_cities.shape

(20968, 2)

Get latitude and longitude coordinates for each unique city in our dataset

In [ ]:
coordinates = []
i = 0;
for row in df_cities.itertuples():
  i = i+1;
  if(i % 100 == 0):
    print(str(i))
  try:
    location = geolocator.geocode(f"{row.city}, {row.state}, USA", timeout = 5)
    if location:
      coordinates.append((location.latitude, location.longitude))
    else:
      coordinates.append(None)
  except (GeocoderTimedOut, GeocoderServiceError) as e:
    # Handle timeout or service errors
    print(f"Error for {row.city}, {row.state}: {e}")
    coordinates.append(None)

100
200
300

WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=5)")': /search?q=MOUNT+DESERT%2C+ME%2C+USA&format=json&limit=1

400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700
12800
12900
13000
13100
13200
13300
13400
13500
13600
13700
13800
13900
14000
14100
14200
14300
14400
14500
14600
14700
14800
14900
15000
15100
15200
15300
15400
15500
15600
15700
15800
15900
16000
16100
16200
16300
16400
16500
16600
16700
16800
16900
17000
17100
17200
17300
17400
17500
17600
17700
17800
17900
18000
18100
18200
18300
18400
18500
18600
18700
18800
18900
19000
19100
19200
19300
19400
19500
19600
19700
19800
19900
20000
20100
20200
20300
20400
20500
20600
20700
20800
20900

In [ ]:
print(len(coordinates))
coordinates_copy = coordinates

20968

Save coordinates in the cities dataframe

In [ ]:
df_cities["coordinates"] = coordinates
df_cities.head(50)

                city state                coordinates
0            HEWLETT    NY  (40.6431591, -73.6956865)
1           ELMSFORD    NY  (41.0550969, -73.8201338)
2      FT LAUDERDALE    FL  (26.1223084, -80.1433786)
3           STAMFORD    CT  (41.0534302, -73.5387341)
4              TAMPA    FL   (27.9477595, -82.458444)
5              BRONX    NY  (40.8466508, -73.8785937)
6      NEW YORK CITY    NY  (40.7127281, -74.0060152)
7           DIXFIELD    ME  (44.5312668, -70.4569591)
8   LONG ISLAND CITY    NY  (40.7455316, -73.9484995)
9      ROCKAWAY PARK    NY  (40.5805104, -73.8361535)
10         INGLEWOOD    CA  (33.9562003, -118.353132)
11            HUDSON    MA  (42.3913503, -71.5676895)
12        WEST HAVEN    CT  (41.2706527, -72.9470471)
13       MOUNT KISCO    NY  (41.2042616, -73.7270761)
17    QUEENS VILLAGE    NY  (40.7267692, -73.7415208)
18            GROTON    NY  (42.5867081, -76.3666374)
19          FLUSHING    NY  (40.7654301, -73.8174291)
20          NEW YORK    NY  (40.7127281, -74.0060152)
24           JAMAICA    NY  (40.7029134, -73.8006429)
25           ASTORIA    NY  (40.7720145, -73.9302673)
31         BALTIMORE    MD   (39.2908816, -76.610759)
32      MOUNT VERNON    NY  (40.9125085, -73.8386504)
33  SPRINGFIELD GDNS    NY    (40.678159, -73.746521)
34     STATEN ISLAND    NY  (40.5834557, -74.1496048)
35          BROOKLYN    NY  (40.6526006, -73.9497211)
39            BOSTON    MA   (42.3554334, -71.060511)
40           MILFORD    CT  (41.2222218, -73.0570603)
42         SOUTHPORT    CT  (41.1364856, -73.2834486)
43         NASHVILLE    TN  (36.1622767, -86.7742984)
45         NEW HAVEN    CT  (41.3082138, -72.9250518)
49        PROVIDENCE    RI  (41.8239891, -71.4128343)
59          PORTLAND    OR  (45.5202471, -122.674194)
63         ASHEVILLE    NC   (35.595363, -82.5508407)
66           SEYMOUR    CT  (41.3943578, -73.0741697)
68           BALDWIN    NY  (40.6507766, -73.6124106)
69         BRUNSWICK    ME  (43.9166529, -69.9659438)
71      W BARNSTABLE    MA  (41.7056644, -70.3744687)
73         NEW SALEM    MA  (42.5035591, -72.3324849)
75         WINNSBORO    LA  (32.1618782, -91.7226934)
76        PITTSFIELD    MA  (42.4484778, -73.2541069)
79         WILLSBORO    NY    (44.357488, -73.392105)
83     BERRIEN SPRGS    MI                       None
84          CORTLAND    NY  (42.5842136, -76.0704906)
85        MIDDLETOWN    PA  (40.1701367, -74.8851959)
87        WINCHESTER    MA  (42.4523178, -71.1369982)
89       BARKHAMSTED    CT  (41.9292629, -72.9139904)
90       EAST MEADOW    NY  (40.7142296, -73.5595107)
91     PLANTERSVILLE    TX  (30.3339997, -95.8629447)
92        LAS CRUCES    NM  (32.3140354, -106.779807)
93        HOPE MILLS    NC  (34.9704419, -78.9453056)

In [ ]:
df_cities.tail(50)

                      city state                               coordinates
953752       ST LOUIS PARK    MN                 (44.9475726, -93.3569023)
953773           ST HELENS    OR                (45.8640034, -122.8064922)
953871         MT STERLING    KY                 (38.0561079, -83.9431961)
954106         MT PLEASANT    MI                  (43.597646, -84.7668495)
954114      CROTONONHUDSON    NY                                      None
954634           ST JOSEPH    MI                 (41.9031963, -85.5356726)
954902            ST MARYS    PA                 (41.4280432, -78.5611275)
954978          MINEAPOLIS    MN                 (44.9772995, -93.2654692)
955162        INEW HAVEN I    CT                                      None
955622           MT MORRIS    NY                 (42.7256184, -77.8741695)
955712            ST LOUIS    MO                 (38.6280278, -90.1910154)
956162        ST AUGUSTINE    FL                 (29.8946952, -81.3145395)
956247   WEST CHESTERFIELD    MA                 (42.4028649, -72.8759294)
956471  RANCHO PALOS VEDES    CA                                      None
956708            SCHALLER    IA                 (42.4996245, -95.2933357)
957175             MOSS PT    MS                 (30.4115881, -88.5344601)
957256          ST FRANCIS    WI                 (42.9744081, -87.8709308)
957560           EL CENIZO    TX                 (27.3324891, -99.5029616)
957975         GAYLESVILLE    AL                  (34.268426, -85.5569057)
958443          E ST LOUIS    IL                  (38.6268666, -90.159707)
958680         MORMON LAKE    AZ        (34.94418925, -111.45544820680331)
959181        ST JOHNSBURY    VT                  (44.419494, -72.0156532)
959198           KATAMAZOO    MI                                      None
959214         MT PROSPECT    IL                 (42.0664167, -87.9372908)
959407            KAIAMAMO    MI                                      None
959598              JAY EM    WY                 (42.461355, -104.3696724)
959660               PALAU    PW                                      None
960024              COBURN    PA          (40.8665355, -77.46133866672122)
960075         LTL ORLEANS    MD                                      None
960576           ROCKY MT.    NC                 (35.9423833, -77.7956949)
960753              ALAMOS    CO                (40.3982702, -122.2332148)
960785       ST STEPHNS CH    VA                                      None
960969    ST HELENA ISLAND    SC                 (32.3868607, -80.5606622)
961004         TWIN BUTTES    ND                (46.3982869, -100.6182996)
961079              EDWARD    NC                 (35.3250107, -76.8802812)
961087               RACIN    WI                                      None
961099              FARELL    PA                                      None
961128              HUSTON    TX  (30.264672400000002, -97.72234831668288)
961171           ST GEORGE    SC                 (33.1859958, -80.5756534)
961221             ST JOHN    KS                 (38.0021145, -98.7601021)
961236          ST ANTHONY    MN                 (45.0283001, -93.2187368)
961433              SHREVE    OH                 (40.6814481, -82.0218148)
962015        RAY TOWNSHIP    MI               (42.761, -82.9204872138981)
962422           ST THOMAS    VI         (18.34290815, -64.91889970060265)
962429       ST CLR SHORES    MI                                      None
962435           ST MARIES    ID                 (47.3143542, -116.562667)
962552         PORT ST JOE    FL                  (29.8118757, -85.302974)
962669         EAST WILTON    ME                  (44.6158945, -70.192839)
962697              MCNARY    AZ          (34.084283, -109.85576440100813)
962853            KILKENNY    MN                 (44.3132973, -93.5741156)

In [ ]:
# looking at cities where geopy couldn't find coordinates -- these look to be mispellings or abbreviations of city names
print(df_cities[df_cities["coordinates"].isna()])
df_cities = df_cities.dropna(subset=['coordinates'])

                 city state coordinates
83      BERRIEN SPRGS    MI        None
111        QUEENS VLG    NY        None
118     FREDERICKSBRG    VA        None
146     CPE GIRARDEAU    MO        None
186     SANTA RSA BCH    FL        None
...               ...   ...         ...
960075    LTL ORLEANS    MD        None
960785  ST STEPHNS CH    VA        None
961087          RACIN    WI        None
961099         FARELL    PA        None
962429  ST CLR SHORES    MI        None

[2136 rows x 3 columns]

In [ ]:
print(df_cities[df_cities["coordinates"].isna()])

Empty DataFrame
Columns: [city, state, coordinates]
Index: []

In [ ]:
df_cities.to_csv('df_coordinates_cleaned.csv', index=False)

In [ ]:
df_cities.head(50)

                city state                coordinates nearby_cities distances
0            HEWLETT    NY  (40.6431591, -73.6956865)
1           ELMSFORD    NY  (41.0550969, -73.8201338)
2      FT LAUDERDALE    FL  (26.1223084, -80.1433786)
3           STAMFORD    CT  (41.0534302, -73.5387341)
4              TAMPA    FL   (27.9477595, -82.458444)
5              BRONX    NY  (40.8466508, -73.8785937)
6      NEW YORK CITY    NY  (40.7127281, -74.0060152)
7           DIXFIELD    ME  (44.5312668, -70.4569591)
8   LONG ISLAND CITY    NY  (40.7455316, -73.9484995)
9      ROCKAWAY PARK    NY  (40.5805104, -73.8361535)
10         INGLEWOOD    CA  (33.9562003, -118.353132)
11            HUDSON    MA  (42.3913503, -71.5676895)
12        WEST HAVEN    CT  (41.2706527, -72.9470471)
13       MOUNT KISCO    NY  (41.2042616, -73.7270761)
14    QUEENS VILLAGE    NY  (40.7267692, -73.7415208)
15            GROTON    NY  (42.5867081, -76.3666374)
16          FLUSHING    NY  (40.7654301, -73.8174291)
17          NEW YORK    NY  (40.7127281, -74.0060152)
18           JAMAICA    NY  (40.7029134, -73.8006429)
19           ASTORIA    NY  (40.7720145, -73.9302673)
20         BALTIMORE    MD   (39.2908816, -76.610759)
21      MOUNT VERNON    NY  (40.9125085, -73.8386504)
22  SPRINGFIELD GDNS    NY    (40.678159, -73.746521)
23     STATEN ISLAND    NY  (40.5834557, -74.1496048)
24          BROOKLYN    NY  (40.6526006, -73.9497211)
25            BOSTON    MA   (42.3554334, -71.060511)
26           MILFORD    CT  (41.2222218, -73.0570603)
27         SOUTHPORT    CT  (41.1364856, -73.2834486)
28         NASHVILLE    TN  (36.1622767, -86.7742984)
29         NEW HAVEN    CT  (41.3082138, -72.9250518)
30        PROVIDENCE    RI  (41.8239891, -71.4128343)
31          PORTLAND    OR  (45.5202471, -122.674194)
32         ASHEVILLE    NC   (35.595363, -82.5508407)
33           SEYMOUR    CT  (41.3943578, -73.0741697)
34           BALDWIN    NY  (40.6507766, -73.6124106)
35         BRUNSWICK    ME  (43.9166529, -69.9659438)
36      W BARNSTABLE    MA  (41.7056644, -70.3744687)
37         NEW SALEM    MA  (42.5035591, -72.3324849)
38         WINNSBORO    LA  (32.1618782, -91.7226934)
39        PITTSFIELD    MA  (42.4484778, -73.2541069)
40         WILLSBORO    NY    (44.357488, -73.392105)
41          CORTLAND    NY  (42.5842136, -76.0704906)
42        MIDDLETOWN    PA  (40.1701367, -74.8851959)
43        WINCHESTER    MA  (42.4523178, -71.1369982)
44       BARKHAMSTED    CT  (41.9292629, -72.9139904)
45       EAST MEADOW    NY  (40.7142296, -73.5595107)
46     PLANTERSVILLE    TX  (30.3339997, -95.8629447)
47        LAS CRUCES    NM  (32.3140354, -106.779807)
48        HOPE MILLS    NC  (34.9704419, -78.9453056)
49         HOPKINTON    MA  (42.2288875, -71.5196439)

In the following cells experimented with preloading what cities are nearby each city. This ended up not being very efficient, so we didn't end up using it in the final application. Instead, we just used the above dataframe of cities and location coordinates and calculated nearby cities in real time.

In [ ]:
# load in dataframe with coordinates for each city
path = "/content/drive/My Drive/BTT Project Invent Team 1A/Zoe's API work/df_coordinates_cleaned.csv"
df_cities = pd.read_csv(path)
df_cities.shape

(18832, 3)

In [ ]:
coords = df_cities[df_cities["city"] == "HEWLETT"]["coordinates"][0]
coordinates = tuple(map(float, coords.strip("()").split(',')))
print(coordinates[1])

-73.6956865

In [ ]:
def find_nearby_cities(city, coordinates, cities, threshold=15):
  coords = tuple(map(float, coordinates.strip("()").split(',')))
  if not coords:
    print(f"City {city} not found.")
  else:
    print(city)

  nearby_cities = []
  distances = []

  # Calculate distance to each other city
  for other_city, other_coordinates in cities:
    if other_city != city:
      other_coords = tuple(map(float, other_coordinates.strip("()").split(',')))
      distance = geodesic(coords, other_coords).miles
      if distance <= threshold:
        distances.append((other_city, distance))
        nearby_cities.append(other_city)

  return nearby_cities, distances

In [ ]:
df_cities_1000 = df_cities[:1000].copy()

df_cities_1000["nearby_cities"] = ""
df_cities_1000["distances"] = ""
cities_list = list(zip(df_cities['city'], df_cities['coordinates']))

def compute_nearby_cities(row):
    nearby_cities, distances = find_nearby_cities(row["city"], row["coordinates"], cities_list)
    return pd.Series({'nearby_cities': nearby_cities, 'distances': distances})

# Apply the function to each row
df_cities_1000[['nearby_cities', 'distances']] = df_cities_1000.apply(compute_nearby_cities, axis=1)

HEWLETT
ELMSFORD
FT LAUDERDALE
STAMFORD
TAMPA
BRONX
NEW YORK CITY
DIXFIELD
LONG ISLAND CITY
ROCKAWAY PARK
INGLEWOOD
HUDSON
WEST HAVEN
MOUNT KISCO
QUEENS VILLAGE
GROTON
FLUSHING
NEW YORK
JAMAICA
ASTORIA
BALTIMORE
MOUNT VERNON
SPRINGFIELD GDNS
STATEN ISLAND
BROOKLYN
BOSTON
MILFORD
SOUTHPORT
NASHVILLE
NEW HAVEN
PROVIDENCE
PORTLAND
ASHEVILLE
SEYMOUR
BALDWIN
BRUNSWICK
W BARNSTABLE
NEW SALEM
WINNSBORO
PITTSFIELD
WILLSBORO
CORTLAND
MIDDLETOWN
WINCHESTER
BARKHAMSTED
EAST MEADOW
PLANTERSVILLE
LAS CRUCES
HOPE MILLS
HOPKINTON
PITTSBURGH
ATHOL
ARDMORE
ALBUQUERQUE
WOBURN
BRANDON
MEDWAY
BRIGHTON
BROWNSVILLE
SPRINGTOWN
WOODBURY
ORLANDO
GARLAND
COMMACK
ROCKMART
SPRINGFIELD
FAIRVIEW PARK
NEW BEDFORD
INMAN
BRENTWOOD
DURANGO
FRESNO
VALLEY STREAM
BEVERLY
LEBANON
WESTPORT
SYOSSET
CAMBRIDGE
BUXTON
WINDHAM
WEST PALM BEACH
OXON HILL
CINCINNATI
YELM
RED ROCK
SAN FRANCISCO
MADISON
DORCHESTER
MARLBOROUGH
BLAUVELT
CONCORD
BASKING RIDGE
CONGERS
UPPER DARBY
LAUDERHILL
NYC
NEW LONDON
DENVILLE
JACKSON HEIGHTS
E SPRINGFIELD
PALO ALTO
PLYMOUTH
BEALE AFB
GLEN ALLEN
MERRICK
COLLEGE STA
PASSAIC
CARY
CAMBRIA HTS
CANTON
RIDGEFIELD
WILTON
CHARLOTTE
HOUSTON
NEEDHAM
LITTLE NECK
YOUNGSTOWN
HELENA
HAMMONTON
WESTMONT
LANESBOROUGH
OREM
MIRAMAR
BLUFFTON
SANTA MONICA
EAST FALMOUTH
ANNAPOLIS
SEATTLE
FORT WORTH
SACRAMENTO
MONROE
WALNUT
SOUTH PORTLAND
VINTON
WALNUT CREEK
ARKANSAS CITY
GREENSBORO
SHELTON
CARBONDALE
PENNINGTON
N PALM BEACH
FLORISSANT
BUZZARDS BAY
PEPPERELL
ATTLEBORO
RUMFORD
NEW CANAAN
CARLINVILLE
BOURNE
NORTHFIELD
BUNKER HILL
FORD CITY
FAR ROCKAWAY
NOVI
DALLAS
MCDONOUGH
MOUNT JOY
MANHATTAN
BATH
TACOMA
WEST PALM BCH
RED OAK
NATICK
HILLSBOROUGH
BLOOMFIELD
ORANGE
GAINESVILLE
MOORESVILLE
SAINT LOUIS
PEARL RIVER
VALLEY COTTAGE
LIBERTYVILLE
HANOVER
WELLSBURG
KATY
COVENTRY
LA JOLLA
NORTHAMPTON
ANNVILLE
LARKSPUR
APTOS
DARIEN
N ATTLEBORO
STRYKERSVILLE
COLLEGE POINT
KISSIMMEE
GARDEN CITY
MELVILLE
LAWRENCE
WHITE PLAINS
LANCASTER
BOULDER
ACTON
SIOUX FALLS
STONE MTN
MALVERNE
BAR HARBOR
ABBEVILLE
ST. BENEDICT
FRANKLIN
GLEN ROCK
NORTH ANDOVER
ABBOT
DEXTER
ABBOTT
BRATTLEBORO
IRVINGTON
CORONA
LOS ANGELES
TELLURIDE
WOLFEBORO
BRIDGEWATER
PALM COAST
GREENACRES
TRENTON
OCALA
MILWAUKEE
WEYMOUTH
N ARLINGTON
GREENWICH
ALBERTSON
CHESHIRE
BETHEL
ALLEN
GLEN
ABINGTON
POMFRET CTR
ENID
HAVERTOWN
FRANCONIA
MONSEY
LONG BEACH
DOVER
BAYSIDE
NEWNAN
MARBLEHEAD
MANCHESTER
CHESTNUT HILL
LAKE SUCCESS
SYRACUSE
ELBERT
PURCHASE
PIERMONT
ABSECON
LAWRENCE TOWNSHIP
YPSILANTI
CHICAGO
S HEMPSTEAD
ST. LOUIS
DENVER
MYSTIC
GOLDSBORO
BELFAST
MIDLOTHIAN
RICHTON PARK
FORT MILL
BAY SHORE
ROSEDALE
RIDGEWOOD
GADSDEN
RALEIGH
ALPHARETTA
CHAPEL HILL
BLOOMINGTON
BIXBY
UNIONDALE
MAYBEURY
FITZGERALD
MARIETTA
PLAINVIEW
ZEPHYRHILLS
WACO
MONTOURSVILLE
MT. VERNON
MANTECA
MANSFIELD
ARLINGTON
ORCHARD LAKE
ASSONET
WEST ISLIP
BOCA RATON
CAREFREE
JERSEY CITY
MEMPHIS
BASTROP
ROXBURY
E GREENWICH
CHARLEMONT
LITTLE ROCK
WASHINGTON
YONKERS
LENOX
OAKLAND
VALHALLA
RUSTON
TEMPE
FOREST HILLS
ORLEANS
SAN ANTONIO
MONONA
HYDE PARK
ROCKPORT
MOUNT DESERT
ELLSWORTH
HICKSVILLE
ROCKLEDGE
BELLINGHAM
PAWTUCKET
STRATFORD
DUARTE
SCARSDALE
FOREST PARK
NEW ROCHELLE
BETHESDA
ATLANTA
LEVITTOWN
NORMAL
REDONDO BEACH
WILMINGTON
MASSAPEQUA
SELKIRK
WOODMERE
GERMANTOWN
SPRING VALLEY
DAYTON
MAYNARD
S HAMILTON
BERLIN
STRATHAM
MONTGOMERY
WATERBURY CTR
WENATCHEE
ROSLINDALE
MINOT
SUFFERN
GLOUCESTER
FARWELL
INDIALANTIC
BLAINE
DURHAM
HONOLULU
RIVERSIDE
WORTHINGTON
SPRINGVALE
CHATHAM
GUILFORD
LEOMINSTER
READING
MASPETH
COLORADO SPRINGS
CLEVELAND
CEDARHURST
MINNEAPOLIS
FAIRHAVEN
ACWORTH
RANDOLPH CTR
PALM BCH GDNS
NORRISTOWN
HARTFORD
KIRKSVILLE
WEBSTER
AKRON
FLOURTOWN
MANHASSET
MONTPELIER
ADAMS
STOW
QUINCY
LYME
BARRYVILLE
NEWTON
WORCESTER
ALBANY
JOHNSTON
ADDISON
BRISTOL
MIDDLEBURY
BURLINGTON
WEST ADDISON
MALDEN
S FREEPORT
BEDFORD
GREENWOOD LK
MERIDEN
MANASQUAN
LOUISVILLE
CLIFTON PARK
SARANAC LAKE
LAKE PLACID
WATERTOWN
GLENS FALLS
MAYWOOD
FREEPORT
NANTUCKET
CHELSEA
TEMPLE HILLS
HARTSDALE
NEW CITY
NEWTON CENTRE
SOUTHINGTON
W SOMERVILLE
PACOIMA
AURORA
LANHAM
NORTH MIAMI
SHELBURNE
BANGOR
ADRIAN
CHESTER
BETHPAGE
WALTHAM
BELLMORE
JAMAICA ESTATES
MILL CREEK
CENTER CONWAY
MIDLAND
BEVERLY HILLS
BUTTE
JUPITER
CARROLLTON
RONKS
PORTSMOUTH
KITTERY
SILVER SPRING
FALLS CHURCH
CATONSVILLE
CTR SANDWICH
MINEOLA
ROCKY HILL
HUNTERSVILLE
WEST HARTFORD
FRAMINGHAM
SAN DIEGO
BOISE
CARSON
LAKE WORTH
RANDOLPH AFB
RAEFORD
TULSA
EDGEWATER
EAST HAMPTON
HAUPPAUGE
FAIRFAX STA
WHITESTONE
JERICHO
FOX POINT
PEACHTREE CTY
PLAINFIELD
BURBANK
THE VILLAGES
PASCO
HICKORY
CONYERS
GRAND RAPIDS
NEWTONVILLE
WEST TISBURY
PLANO
COLUMBUS
SAINT ALBANS
WEST ORANGE
PHILADELPHIA
MCKINNEY
MATTAPAN
DACULA
DETROIT
VADNAIS HTS
EDISON
YORK HARBOR
PHOENIX
CHELMSFORD
W HEMPSTEAD
TIMONIUM
GRAY
MILTON
AUSTIN
FONTANA
WYTHEVILLE
COLONIAL BCH
VANDALIA
LAKELAND
HARRIMAN
BIRMINGHAM
OSSIPEE
WEST BABYLON
CLARKSVILLE
NESCONSET
FAYETTEVILLE
ANDERSON
WICHITA
SOMERVILLE
RYE
AGAWAM
FEEDING HILLS
TARRYTOWN
NORTH HAVEN
LUTZ
WOONSOCKET
HANCOCK
BKLYN
GREAT NECK
HOOLEHUA
WESLEY HILLS
NORWICH
LAVERGNE
WETHERSFIELD
BROOKLINE
HAVERHILL
CARLISLE
AMESBURY
HUMBLE
RHINEBECK
RIVERHEAD
MYERS FLAT
N BELLMORE
NEWPORT
PROVINCETOWN
VINEYARD HAVEN
BEECH ISLAND
SOUTHAMPTON
CLAREMONT
NORTH CONWAY
NEW SQUARE
PRINCETON
SHREWSBURY
NORTH WALES
VINELAND
WAKEFIELD
EAST BOSTON
NEWARK
MAMARONECK
NEW LENOX
LOWELL
N BILLERICA
FREMONT
COLUMBIA
BOICEVILLE
DORAVILLE
NORWALK
TONEY
AUBURN
TUSCALOOSA
DOTHAN
HOOVER
WINSTON SALEM
GREENVALE
PALM BEACH
BELMONT
GLEN COVE
LARCHMONT
KALISPELL
ANCHORAGE
HOMER
EAGLE RIVER
CHUGIAK
EL CENTRO
RIVERDALE
WATERBURY
NEW HYDE PARK
ALBANY TWP
SCOTTSVILLE
WESTFIELD
SAYREVILLE
FAIRFIELD
KENSINGTON
GARDNER
RANDLE
LAS VEGAS
NANUET
EAST HILLS
ALBION
ALBURGH
SALEM
COPLEY
ALCOA
PISCATAWAY
WOLCOTT
DOBBS FERRY
RANDOLPH
DUXBURY
EAST PROVIDENCE
HAMDEN
PAXTON
MOOSUP
BARRE
MITCHELL
ALEDO
WAYLAND
WARWICK
WOODBRIDGE
DERRY
SOUTH NORWALK
STERLING
SUN CITY WEST
MENLO PARK
VINEYARD HVN
ALEXANDRIA
WATERVILLE
ALFORD
HARRISON
CRYSTAL BAY
ALFRED
W HOLLYWOOD
CORAL GABLES
ALGOMA
RICHMOND HILL
HOLYOKE
AMHERST
GARRISON
NEW CASTLE
VERNON ROCKVILLE
HUMAROCK
ARVERNE
KILLEN
WAIANAE
IPSWICH
TEANECK
BELEN
LYNN
ELLENSBURG
HARRISBURG
FORT WALTON BEACH
TUCKAHOE
MATTESON
JACKSONVILLE
PORT ST. LUCIE
NEW BRUNSWICK
REDDING
HIGH POINT
WALPOLE
VINE GROVE
WEST NEWTON
HYATTSVILLE
LILBURN
CABOT
OLD SAYBROOK
ROSEVILLE
LIZELLA
ELMONT
LOS LUNAS
SARASOTA
ALLAGASH
EAST ELMHURST
DAMARISCOTTA
MCDONALD
QUEENS
QUEENS COUNTY NE
QUEENS COUNTY N
CAIRO
HARROD
ALLENDALE
ALLENSTOWN
DOUGLASTON
ALLIANCE
SOUTHBOROUGH
PEARLAND
SOUTHBURY
PARADISE
SWAMPSCOTT
SURPRISE
WABAN
BRIDGEPORT
JAMAICA PLAIN
POTOMAC
MUNCIE
SANTA CRUZ
WARREN
EAST WINDSOR
ENFIELD
CAMDEN
ARVADA
ALLSTON
EAST MONTPELIER
PLACENTIA
VALPARAISO
WELLESLEY
ALMA
ALMONT
KAILUA KONA
FAIRLEE
PLAINVILLE
ROCHESTER
MAHOMET
SAYVILLE
FOXBOROUGH
SANFORD
OSWEGO
MISSION HILL
ARKADELPHIA
ALPINE
BATON ROUGE
MARKLEEVILLE
BENSALEM
SANDUSKY
ALSTEAD
ALTADENA
ALTAVISTA
FALMOUTH
HAVANA
WOODLAND HILLS
GREENFIELD
ST. PAUL
NAUGATUCK
EAST SETAUKET
ITHACA
ALTO
ALTON
ALTOONA
SOUTH HADLEY
CASTLETON
FITCHBURG
BROCKTON
FARMINGDALE
MEDIA
CHAMBERSBURG
EAST HARTFORD
SOUTHFIELD
CANONSBURG
MUENSTER
EAST ISLIP
SOUTHBRIDGE
STOWE
BREWESTER
S OZONE PARK
JACKSON
AMAGANSETT
WESTERLY
AMANDA
AMARILLO
EWA BEACH
CRANSTON
JONESBORO
BREWER
PARKER
DERWOOD
LEWISTON
AUGUSTA
LUCASVILLE
WANTAGH
HOLLIS
BAKERSFIELD
AMBERG
ROOSEVELT
POUGHKEEPSIE
SHELBYVILLE
FERN BCH
ST. AUGUSTINE
ANNANDALE
UNION CITY
PROSPECT
INDIANAPOLIS
SMITHTOWN
DUBLIN
HILLMAN
GOLDEN
GREENVILLE
DRY FORK
LA PORTE
ROSLYN
LEXINGTON
PORT WASHINGTON
E PROVIDENCE
SONOMA
WOODLAND HLS
KENNESAW
SANDY SPRINGS
LAKEWOOD
BEXLEY
BELLPORT
LAGRANGEVILLE
SANTEE
BERKELEY
WEIRS BEACH
STANARDSVILLE
ROCKVILLE
FARMINGTON HILLS
DEEP RIVER
SCHAUMBURG
VIRGINIA BEACH
SHEPHERDSTOWN
AUBURNDALE
CARPENTERSVILLE
PLATTSBURGH
DEPEW
SAUNDERSTOWN
UNIONVILLE
CHAMPAIGN
BAYPORT
EFFINGHAM
DERBY
KEMPTON
SOLANA BEACH
BEAUMONT
SAGAMORE BCH
EAST PALATKA
LONG IS CITY
RIVERVIEW
GLENVIEW
AIRMONT
HIGHLAND PARK
MONTEBELLO
FAIR LAWN
FRESH MEADOWS
FAIRLAWN
TRURO
KEW GARDENS
POUND RIDGE
LONG BRANCH
EASTCHESTER
POMONA
MORRISTOWN
OAKLAND GDNS
MALVERN
UNIVERSITY HEIGHTS
JANESVILLE
CLIFTON
INWOOD
MIAMI
HALLANDALE BEACH
DAVIE
GEORGETOWN
GREENSBURG
NEWBURY
FAIRFAX
MITCHELLVILLE
HAINES CITY
FORT COLLINS
SAINT PETER
RED SPRINGS
RESTON
NORTH CHELMSFORD
COLLEGE PARK
BERWYN
WEST COVINA
STONE MOUNTAIN
COHOES
CHESTERFIELD
NORTH ADAMS
NORFOLK
NEWTOWN
DANIELSON
GLEN HEAD
OZONE PARK
NYACK
TROY
WALDOBORO
NORWAY
PELHAM
MEDFIELD
COLLINGSWOOD
ISLAND PARK
PORT JEFFERSON STA
FOLLANSBEE
STILLWATER
WISCASSET
BOOTHBAY
LISBON
EAGLE LAKE
PRESQUE ISLE
CHINA VILLAGE
PEMBROKE
DELAWARE
SHICKSHINNY
GROVE CITY
YORK
WOLFFORTH
ANDOVER
SEAFORD
ROCKLAND
DELHI
DANIA BEACH
EDMONDS
SOUTH ROYALTON
WINSTED
RONKONKOMA
ANN ARBOR
MESQUITE
WITHAMS
OLYMPIA
MOUNTAIN VIEW
EL PASO
MCLEAN
NEWINGTON
JOSHUA TREE
CARMICHAEL
YUMA
SUFFIELD
TOWSON
SOUTH MIAMI
DANVILLE
CHERRY HILL
GOSHEN
WILLIAMSBURG
WINCHENDON
WHEATON
CHANTILLY
RICHMOND
GRANADA HILLS
DORAL
MASON CITY
BROOKLYN NY
NORTH PORT
VANCOUVER
OFALLON
SHARON
LEWISVILLE
EPPING
MONSON
PLEASANTVILLE
BRIARCLIFF MANOR
LINCOLN
SOCORRO
WAXAHACHIE
OLNEY
AMITYVILLE
JAFFREY
DANBURY
BEECHHURST
GLASTONBURY
AMSTERDAM
KAILUA
YARMOUTH
WILSON
DEL MAR
SEWELL
N VERSAILLES
OYSTER BAY
DANA POINT
SAINT PAUL
STOUGHTON
SUMMIT
LEDYARD
LAKE BUTLER
LIDO BEACH
GODFREY
WALLINGFORD
HOLDEN
YARDVILLE
UPPER NYACK
SANTA FE
YORKVILLE
FLOSSMOOR
NEWPORT BEACH
ILIFF
BOYNTON BEACH
BRADFORD
ARMONK
APOPKA
LIVINGSTON
SHERBORN
PARSIPPANY
WAYNE
GORHAM
LA MIRADA
SCOTTSDALE
MOUNT LAGUNA
WEST GRANBY
GRAND PRAIRIE
SAN ANGELO
FLORENCE
LAWRENCEVILLE
UTICA
SUMMERVILLE
FLORAL PARK
CHARLOTTESVILLE
SOUTH NEWBURY
S YARMOUTH
STUDIO CITY
PINEHURST
NEW BRITAIN
BLAIRSTOWN
CHATTANOOGA
NAPLES
PHILIPPI
GASTONIA
PALISADES PK
ORONO
CLEBURNE
EGG HBR TWP
FARMINGVILLE
METAMORA
DEDHAM
FALL RIVER
MIDDLEBURG
ARROYO GRANDE
SANTA CLARITA
WEST NORRITON
HERNDON
WOODSIDE
HAYS
OMAHA
EAST MARION
NEWBURYPORT
SMITHFIELD
ZIONSVILLE
LEAWOOD
STAFFORD
BRONXVILLE
LAKEVILLE
CLERMONT

In [ ]:
df_cities_1000.head(50)

,city,state,coordinates,nearby_cities,distances
0,HEWLETT,NY,"(40.6431591, -73.6956865)","[ELMSFORD, STAMFORD, BRONX, NEW YORK CITY, LON...","[(ELMSFORD, 29.163653352427367), (STAMFORD, 29..."
1,ELMSFORD,NY,"(41.0550969, -73.8201338)","[HEWLETT, STAMFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 29.163653352427367), (STAMFORD, 14...."
2,FT LAUDERDALE,FL,"(26.1223084, -80.1433786)","[LAUDERHILL, MIRAMAR, BOCA RATON, NORTH MIAMI,...","[(LAUDERHILL, 4.524093578102845), (MIRAMAR, 10..."
3,STAMFORD,CT,"(41.0534302, -73.5387341)","[HEWLETT, ELMSFORD, BRONX, MOUNT KISCO, QUEENS...","[(HEWLETT, 29.480641707420695), (ELMSFORD, 14...."
4,TAMPA,FL,"(27.9477595, -82.458444)","[ZEPHYRHILLS, LUTZ, RIVERVIEW, DUNEDIN, PORT R...","[(ZEPHYRHILLS, 25.964255266653602), (LUTZ, 12...."
5,BRONX,NY,"(40.8466508, -73.8785937)","[HEWLETT, ELMSFORD, STAMFORD, NEW YORK CITY, L...","[(HEWLETT, 17.008920040221202), (ELMSFORD, 14...."
6,NEW YORK CITY,NY,"(40.7127281, -74.0060152)","[HEWLETT, ELMSFORD, BRONX, LONG ISLAND CITY, R...","[(HEWLETT, 16.994497665454016), (ELMSFORD, 25...."
7,DIXFIELD,ME,"(44.5312668, -70.4569591)","[ALBANY TWP, NORWAY, WAYNE, GREENE, WINTHROP, ...","[(ALBANY TWP, 22.125390713901897), (NORWAY, 22..."
8,LONG ISLAND CITY,NY,"(40.7455316, -73.9484995)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, ROCK...","[(HEWLETT, 15.039831015397413), (ELMSFORD, 22...."
9,ROCKAWAY PARK,NY,"(40.5805104, -73.8361535)","[HEWLETT, BRONX, NEW YORK CITY, LONG ISLAND CI...","[(HEWLETT, 8.558380340888823), (BRONX, 18.4989..."
10,INGLEWOOD,CA,"(33.9562003, -118.353132)","[SANTA MONICA, WALNUT, LOS ANGELES, DUARTE, RE...","[(SANTA MONICA, 9.048642740783388), (WALNUT, 2..."
11,HUDSON,MA,"(42.3913503, -71.5676895)","[BOSTON, WINCHESTER, HOPKINTON, WOBURN, MEDWAY...","[(BOSTON, 26.074972114787627), (WINCHESTER, 22..."
12,WEST HAVEN,CT,"(41.2706527, -72.9470471)","[MILFORD, SOUTHPORT, NEW HAVEN, SEYMOUR, WOODB...","[(MILFORD, 6.633400580754444), (SOUTHPORT, 19...."
13,MOUNT KISCO,NY,"(41.2042616, -73.7270761)","[ELMSFORD, STAMFORD, BRONX, MOUNT VERNON, SOUT...","[(ELMSFORD, 11.381134707345943), (STAMFORD, 14..."
14,QUEENS VILLAGE,NY,"(40.7267692, -73.7415208)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 6.251450630114746), (ELMSFORD, 23.0..."
15,GROTON,NY,"(42.5867081, -76.3666374)","[CORTLAND, ITHACA, LAFAYETTE, MARATHON, TULLY,...","[(CORTLAND, 15.106381242904565), (ITHACA, 13.8..."
16,FLUSHING,NY,"(40.7654301, -73.8174291)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 10.585473408776322), (ELMSFORD, 19...."
17,NEW YORK,NY,"(40.7127281, -74.0060152)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 16.994497665454016), (ELMSFORD, 25...."
18,JAMAICA,NY,"(40.7029134, -73.8006429)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 6.885145827647641), (ELMSFORD, 24.3..."
19,ASTORIA,NY,"(40.7720145, -73.9302673)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 15.191494081674103), (ELMSFORD, 20...."
20,BALTIMORE,MD,"(39.2908816, -76.610759)","[ANNAPOLIS, LANHAM, CATONSVILLE, TIMONIUM, HYA...","[(ANNAPOLIS, 22.45262879750295), (LANHAM, 25.6..."
21,MOUNT VERNON,NY,"(40.9125085, -73.8386504)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 20.04176653077637), (ELMSFORD, 9.88..."
22,SPRINGFIELD GDNS,NY,"(40.678159, -73.746521)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 3.6010568963686143), (ELMSFORD, 26...."
23,STATEN ISLAND,NY,"(40.5834557, -74.1496048)","[HEWLETT, BRONX, NEW YORK CITY, LONG ISLAND CI...","[(HEWLETT, 24.221495757264265), (BRONX, 23.071..."
24,BROOKLYN,NY,"(40.6526006, -73.9497211)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 13.367027470723249), (ELMSFORD, 28...."
25,BOSTON,MA,"(42.3554334, -71.060511)","[HUDSON, WINCHESTER, HOPKINTON, WOBURN, MEDWAY...","[(HUDSON, 26.074972114787627), (WINCHESTER, 7...."
26,MILFORD,CT,"(41.2222218, -73.0570603)","[STAMFORD, WEST HAVEN, SOUTHPORT, NEW HAVEN, S...","[(STAMFORD, 27.697208480727536), (WEST HAVEN, ..."
27,SOUTHPORT,CT,"(41.1364856, -73.2834486)","[ELMSFORD, STAMFORD, WEST HAVEN, MOUNT KISCO, ...","[(ELMSFORD, 28.574148749269824), (STAMFORD, 14..."
28,NASHVILLE,TN,"(36.1622767, -86.7742984)","[LAVERGNE, GALLATIN, SPRING HILL, THOMPSONS ST...","[(LAVERGNE, 13.393161387730434), (GALLATIN, 23..."
29,NEW HAVEN,CT,"(41.3082138, -72.9250518)","[WEST HAVEN, MILFORD, SOUTHPORT, SEYMOUR, WOOD...","[(WEST HAVEN, 2.8336306739758896), (MILFORD, 9..."
30,PROVIDENCE,RI,"(41.8239891, -71.4128343)","[HOPKINTON, MEDWAY, NEW BEDFORD, ATTLEBORO, RU...","[(HOPKINTON, 28.480691701342273), (MEDWAY, 21...."
31,PORTLAND,OR,"(45.5202471, -122.674194)","[ST. BENEDICT, VANCOUVER, NEWBERG, CANBY, SHER...","[(ST. BENEDICT, 11.63868580263), (VANCOUVER, 7..."
32,ASHEVILLE,NC,"(35.595363, -82.5508407)","[WEAVERVILLE, LAKE LURE, BREVARD, PISGAH FORES...","[(WEAVERVILLE, 7.0085962199420155), (LAKE LURE..."
33,SEYMOUR,CT,"(41.3943578, -73.0741697)","[WEST HAVEN, MILFORD, SOUTHPORT, NEW HAVEN, WO...","[(WEST HAVEN, 10.798194301212149), (MILFORD, 1..."
34,BALDWIN,NY,"(40.6507766, -73.6124106)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 4.408190606834606), (ELMSFORD, 29.9..."
35,BRUNSWICK,ME,"(43.9166529, -69.9659438)","[SOUTH PORTLAND, BATH, S FREEPORT, GRAY, DAMAR...","[(SOUTH PORTLAND, 23.9902474085597), (BATH, 7...."
36,W BARNSTABLE,MA,"(41.7056644, -70.3744687)","[NEW BEDFORD, EAST FALMOUTH, BUZZARDS BAY, BOU...","[(NEW BEDFORD, 29.357644135387083), (EAST FALM..."
37,NEW SALEM,MA,"(42.5035591, -72.3324849)","[ATHOL, NORTHAMPTON, FRANKLIN, BRATTLEBORO, CH...","[(ATHOL, 8.249621559706979), (NORTHAMPTON, 19...."
38,WINNSBORO,LA,"(32.1618782, -91.7226934)","[RAYVILLE, SICILY ISLAND, NEWELLTON, CROWVILLE...","[(RAYVILLE, 21.647083147289685), (SICILY ISLAN..."
39,PITTSFIELD,MA,"(42.4484778, -73.2541069)","[LANESBOROUGH, CHARLEMONT, LENOX, SELKIRK, CHA...","[(LANESBOROUGH, 5.051497549244106), (CHARLEMON..."
40,WILLSBORO,NY,"(44.357488, -73.392105)","[BRISTOL, MIDDLEBURY, BURLINGTON, WEST ADDISON...","[(BRISTOL, 21.952231020732714), (MIDDLEBURY, 2..."
41,CORTLAND,NY,"(42.5842136, -76.0704906)","[GROTON, ITHACA, CAZENOVIA, LAFAYETTE, MARATHO...","[(GROTON, 15.106381242904565), (ITHACA, 26.423..."
42,MIDDLETOWN,PA,"(40.1701367, -74.8851959)","[UPPER DARBY, PENNINGTON, TRENTON, HAVERTOWN, ...","[(UPPER DARBY, 26.506957112580192), (PENNINGTO..."
43,WINCHESTER,MA,"(42.4523178, -71.1369982)","[HUDSON, BOSTON, HOPKINTON, WOBURN, MEDWAY, BR...","[(HUDSON, 22.423782169272723), (BOSTON, 7.7477..."
44,BARKHAMSTED,CT,"(41.9292629, -72.9139904)","[SPRINGFIELD, PLYMOUTH, CHESHIRE, BERLIN, HART...","[(SPRINGFIELD, 20.549392526179602), (PLYMOUTH,..."
45,EAST MEADOW,NY,"(40.7142296, -73.5595107)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 8.673142320706928), (ELMSFORD, 27.1..."
46,PLANTERSVILLE,TX,"(30.3339997, -95.8629447)","[TOMBALL, CYPRESS, MAGNOLIA, NAVASOTA, WILLIS,...","[(TOMBALL, 22.00673417535118), (CYPRESS, 27.02..."
47,LAS CRUCES,NM,"(32.3140354, -106.779807)","[CHAPARRAL, FAIRACRES, CANUTILLO, ORGAN, WHITE...","[(CHAPARRAL, 29.532117255325726), (FAIRACRES, ..."
48,HOPE MILLS,NC,"(34.9704419, -78.9453056)","[RAEFORD, FAYETTEVILLE, RED SPRINGS, ABERDEEN,...","[(RAEFORD, 15.841343205942898), (FAYETTEVILLE,..."
49,HOPKINTON,MA,"(42.2288875, -71.5196439)","[HUDSON, BOSTON, PROVIDENCE, WINCHESTER, WOBUR...","[(HUDSON, 11.480387854999595), (BOSTON, 25.097..."

In [ ]:
df_cities.to_csv('df_cities_1000_near.csv', index=False)

In [ ]:
df_cities_temp.head(30)

,city,state,coordinates,nearby_cities,distances
0,HEWLETT,NY,"(40.6431591, -73.6956865)","[ELMSFORD, STAMFORD, BRONX, NEW YORK CITY, LON...","[(ELMSFORD, 29.163653352427367), (STAMFORD, 29..."
1,ELMSFORD,NY,"(41.0550969, -73.8201338)","[HEWLETT, STAMFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 29.163653352427367), (STAMFORD, 14...."
2,FT LAUDERDALE,FL,"(26.1223084, -80.1433786)",[],[]
3,STAMFORD,CT,"(41.0534302, -73.5387341)","[HEWLETT, ELMSFORD, BRONX, MOUNT KISCO, QUEENS...","[(HEWLETT, 29.480641707420695), (ELMSFORD, 14...."
4,TAMPA,FL,"(27.9477595, -82.458444)",[],[]
5,BRONX,NY,"(40.8466508, -73.8785937)","[HEWLETT, ELMSFORD, STAMFORD, NEW YORK CITY, L...","[(HEWLETT, 17.008920040221202), (ELMSFORD, 14...."
6,NEW YORK CITY,NY,"(40.7127281, -74.0060152)","[HEWLETT, ELMSFORD, BRONX, LONG ISLAND CITY, R...","[(HEWLETT, 16.994497665454016), (ELMSFORD, 25...."
7,DIXFIELD,ME,"(44.5312668, -70.4569591)",[],[]
8,LONG ISLAND CITY,NY,"(40.7455316, -73.9484995)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, ROCK...","[(HEWLETT, 15.039831015397413), (ELMSFORD, 22...."
9,ROCKAWAY PARK,NY,"(40.5805104, -73.8361535)","[HEWLETT, BRONX, NEW YORK CITY, LONG ISLAND CI...","[(HEWLETT, 8.558380340888823), (BRONX, 18.4989..."
10,INGLEWOOD,CA,"(33.9562003, -118.353132)",[],[]
11,HUDSON,MA,"(42.3913503, -71.5676895)",[],[]
12,WEST HAVEN,CT,"(41.2706527, -72.9470471)",[],[]
13,MOUNT KISCO,NY,"(41.2042616, -73.7270761)","[ELMSFORD, STAMFORD, BRONX]","[(ELMSFORD, 11.381134707345943), (STAMFORD, 14..."
17,QUEENS VILLAGE,NY,"(40.7267692, -73.7415208)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 6.251450630114746), (ELMSFORD, 23.0..."
18,GROTON,NY,"(42.5867081, -76.3666374)",[],[]
19,FLUSHING,NY,"(40.7654301, -73.8174291)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 10.585473408776322), (ELMSFORD, 19...."
20,NEW YORK,NY,"(40.7127281, -74.0060152)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 16.994497665454016), (ELMSFORD, 25...."
24,JAMAICA,NY,"(40.7029134, -73.8006429)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 6.885145827647641), (ELMSFORD, 24.3..."
25,ASTORIA,NY,"(40.7720145, -73.9302673)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 15.191494081674103), (ELMSFORD, 20...."
31,BALTIMORE,MD,"(39.2908816, -76.610759)",[],[]
32,MOUNT VERNON,NY,"(40.9125085, -73.8386504)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 20.04176653077637), (ELMSFORD, 9.88..."
33,SPRINGFIELD GDNS,NY,"(40.678159, -73.746521)","[HEWLETT, ELMSFORD, STAMFORD, BRONX, NEW YORK ...","[(HEWLETT, 3.6010568963686143), (ELMSFORD, 26...."
34,STATEN ISLAND,NY,"(40.5834557, -74.1496048)","[HEWLETT, BRONX, NEW YORK CITY, LONG ISLAND CI...","[(HEWLETT, 24.221495757264265), (BRONX, 23.071..."
35,BROOKLYN,NY,"(40.6526006, -73.9497211)","[HEWLETT, ELMSFORD, BRONX, NEW YORK CITY, LONG...","[(HEWLETT, 13.367027470723249), (ELMSFORD, 28...."
39,BOSTON,MA,"(42.3554334, -71.060511)",[HUDSON],"[(HUDSON, 26.074972114787627)]"
40,MILFORD,CT,"(41.2222218, -73.0570603)","[STAMFORD, WEST HAVEN]","[(STAMFORD, 27.697208480727536), (WEST HAVEN, ..."
42,SOUTHPORT,CT,"(41.1364856, -73.2834486)","[ELMSFORD, STAMFORD, WEST HAVEN, MOUNT KISCO]","[(ELMSFORD, 28.574148749269824), (STAMFORD, 14..."
43,NASHVILLE,TN,"(36.1622767, -86.7742984)",[],[]
45,NEW HAVEN,CT,"(41.3082138, -72.9250518)",[WEST HAVEN],"[(WEST HAVEN, 2.8336306739758896)]"